<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restaurant.name ></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%= menuItems.forEach() => {
        <h2><%= menuItems.name %></h2>
        <p><%= menuItems.description %></p>
        <p><%= menuItems.price %></p>
    }) %>


    <h1>Menu</h1>
</body>
</html>